// EVENT FILTER BAR
.eventFilters {
   background: get-color(primary);
   color: #fff;
   padding: 15px 15px 6px;
   text-align: center;
   margin: 0 0 2rem;

   @include breakpoint(medium) {
      padding: 25px 25px 10px;
   }

   @include breakpoint(large) {
      padding: 40px 25px 20px;
   }
}

// RESULT FILTER BAR
.resourceFilterBar {
   background: #E6E7E7;
   padding: 15px;
   text-align: center;
   margin: 0 0 2rem;
}

.resourceFilterBarLead {
   text-transform: uppercase;
   font-weight: 700;
   color: get-color(primary);
   margin: 0 0 1rem;
}

// SEARCH RESULT FILTERS
.searchResultFilters {
   background: get-color(primary);
   padding: 15px;
   text-align: center;
   margin: 0 0 2rem;
   color: #fff;

   @include breakpoint(large) {
      padding: 15px 25px 39px;
   }
}

.searchResultFilterLead {
   text-transform: uppercase;
   font-weight: 700;
   color: #fff;
   margin: 0 0 1rem;
}

// FILTER BOXES
.filterBox {
   display: inline-block;
   font-weight: 700;
   text-transform: uppercase;
   border: 1px solid #fff;
   margin: 0 9px 9px 0;
   padding: 0.4rem 0.6rem;
   font-size: rem-calc(10px);
   cursor: pointer;

   @include breakpoint(medium) {
      font-size: rem-calc(14px);
      margin: 0 7px 15px;
   }

   @include breakpoint(large) {
      font-size: rem-calc(20px);
      padding: 0.3rem 1.5rem;
      margin: 0 10px 20px;
      border-width: 2px;
   }

   &.resourceFilter {
      border: 1px solid #808080;
      color: #808080;

      &:hover {
         background: get-color(accent1);
         color: #fff;
         border-color: get-color(accent1);
      }

      &.on {
         background: get-color(accent1);
         color: #fff;
         border-color: get-color(accent1);

         &:hover {
            background: get-color(accent1-dark);
         }
      }
   }

   &:hover {
      background: get-color(primary-dark);
   }

   &.on {
      background: get-color(accent1);
      color: #fff;
      border-color: get-color(accent1);

      &:hover {
         background: get-color(accent1-dark);
         border-color: get-color(accent1-dark);
      }

      &::after {
         content: "\f00d";
         font-family: FontAwesome;
         display: inline-block;
         margin: 0 0 0 11px;
         font-weight: normal;
      }
   }
}

.searchResultFilters {

}
