.mainNav {
   position: fixed;
   top: 0;
   left: 100%;
   bottom: 0;
   overflow: auto;
   width: calc(100% - 50px);
   z-index: 100;
   background: $secondary-color;
   transition: transform 0.2s;
   padding: 50px 0 2rem;

   @include breakpoint(large) {
      display: block;
      left: auto;
      top: 0;
      position: relative;
      bottom: auto;
      width: 100%;
      padding: 0 25px 0 185px;
      z-index: 97;
      margin: 0;
      text-align: center;
      overflow: visible;
   }

   &.on {
      transform: translateX(-100%);
   }

   &.fixed {

      @include breakpoint(large) {
         position: fixed;
         left: 0;
         top: 0;
         width: 100%;
         margin: 0;
      }
   }

   &.home {

      @include breakpoint(large) {
         position: absolute;
      }
   }

   ul {
      list-style: none;
      padding: 0;
      margin: 0;
      border-top: 1px solid rgba(#fff, 0.1);

      @include breakpoint(large) {
         display: inline-block;
         border: none;
         margin: 0 25px 0 0;
         vertical-align: middle;
      }

      &::after {
         @extend .clearfix;
      }
   }

   li {
      border-bottom: 1px solid rgba(#fff, 0.1);
      margin: 0;
      position: relative;

      @include breakpoint(large) {
         display: block;
         border: none;
         padding: 25px 11px;
         float: left;
      }

      @include breakpoint(xxlarge) {
         padding: 25px 17px;
      }

      &::after {
         content: "";
         display: block;
         position: absolute;
         right: -1px;
         top: 50%;
         border-right: 2px solid #fff;
         transform: translate(0, -50%);
         height: 15px;
      }

      a, a:visited {
         color: #fff;
         display: block;
         padding: 1rem;
         font-weight: 700;
         text-transform: uppercase;

         @include breakpoint(large) {
            font-size: rem-calc(14px);
            padding: 0;
         }

         @include breakpoint(xxlarge) {
            font-size: rem-calc(20px);
         }

         &:hover {
            opacity: 0.8;
         }
      }
   }

   li ul {
      display: none;
      background: rgba(#fff, 0.1);

      @include breakpoint(large) {
         position: absolute;
         top: 100%;
         left: 0;
         width: 200px;
         background: get-color(secondary-dark);
      }

      @include breakpoint(xxlarge) {
         width: 275px;
      }
   }

   li ul li {
      border: none;

      @include breakpoint(large) {
         padding: 0;
         display: block;
         float: none;
      }

      &::after {
         display: none;
      }

      a, a:visited {
         text-transform: none;
         padding: 0.6rem 2rem;

         @include breakpoint(large) {
            text-align: left;
            padding: 9px 11px;
            display: block;
            font-size: rem-calc(12px);
         }

         @include breakpoint(xxlarge) {
            font-size: rem-calc(14px);
            padding: 11px 15px;
         }

         &:hover {

            @include breakpoint(large) {
               background: get-color(secondary);
               opacity: 1;
            }
         }
      }
   }

   li ul li ul {

      @include breakpoint(large) {
         position: absolute;
         top: 0;
         left: 100%;
      }
   }
}

.navSocial {
   padding: 3rem 0 0 1rem;
   position: relative;

   @include breakpoint(large) {
      display: inline-block;
      padding: 0;
      vertical-align: middle;
   }

   .hasMore {
      cursor: pointer;
      display: none;
      font-size: 18px;
      color: #fff;
      vertical-align: middle;
      font-size: 18px;
      width: 25px;

      @include breakpoint(xxlarge) {
         font-size: 24px;
      }

      &::after {
         content: "\f101";
         display: inline-block;
         font-family: FontAwesome;
      }

      &.on {
         display: inline-block;
      }

      &.active {

         &::after {
            content: "\f103";
         }
      }
   }

   ul {
      border: none;
      vertical-align: middle;

      @include breakpoint(large) {
         margin: 0 7px 0 0;
      }

      &::after {
         @extend .clearfix;
      }
   }

   li {
      border: none;
      display: block;
      float: left;
      margin: 0;

      @include breakpoint(large) {
         padding: 0 7px;
      }

      &::after {
         display: none;
      }

      a, a:visited {
         display: block;
         width: 45px;
         height: 45px;
         line-height: 45px;
         background: get-color(secondary-dark);
         margin: 0 1px 1px 0;
         padding: 0;
         text-align: center;
         font-size: 22px;

         @include breakpoint(large) {
            display: inline-block;
            width: auto;
            height: auto;
            line-height: 1.2;
            background: transparent;
            margin: 0;
            font-size: 18px;
            padding: 0;
         }

         @include breakpoint(xlarge) {
            font-size: 24px;
         }
      }
   }
}

.navSocialMore {
   display: none;
   position: absolute;
   top: 100%;
   right: 0;
   background: #fff;
   width: 70px;
   text-align: center;
   opacity: 1;

   &.on {
      display: block;
   }

   li {
      display: block;
      float: none;
      padding: 5px 0;
      border-bottom: 1px solid #f1f1f1;

      &:last-child {
         border-bottom: none;
      }

      a, a:visited {
         color: get-color(secondary);
         display: block;
      }
   }
}

.navDropToggle {
   position: absolute;
   right: 15px;
   top: 6px;
   width: 40px;
   height: 40px;
   line-height: 40px;
   color: #fff;

   @include breakpoint(large) {
      display: none;
   }

   &::after {
      content: "\f107";
      display: block;
      font-family: FontAwesome;
      text-align: center;
      font-size: 24px;
      vertical-align: middle;
   }

   &.on {

      &::after {
         content: "\f106";
      }
   }
}

.mainNavClose {
   position: absolute;
   top: 0;
   right: 0;
   width: 50px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   color: #fff;
   background: get-color(secondary-dark);
   font-size: 20px;
   cursor: pointer;

   @include breakpoint(large) {
      display: none;
   }

   &::after {
      content: "\f00d";
      font-family: FontAwesome;
      display: block;
   }
}

.mainNavShim {
   display: none;

   &.on {
      display: block;
   }

   &.home.on {
      display: none;
   }
}
