.statContainer {
   @include flex-grid-row;
   @include flex-align(center, middle);
   padding: 1rem 0 3rem;
}

.statBox {
   @include flex-grid-column(6);
   color: $primary-color;
   font-weight: 700;
   padding: 1rem;
   font-family: $body-font-family2;

   @include breakpoint(large) {
      @include flex-grid-column(3);
   }
}

.statBoxValue {
   font-size: rem-calc(50px);

   @include breakpoint(large) {
      font-size: rem-calc(70px);
   }
}

.statBoxItem {
   font-size: rem-calc(18px);
   text-transform: uppercase;
   line-height: 1.2;

   @include breakpoint(large) {
      font-size: rem-calc(20px);
   }
}
