section.upcomingEvents {
   padding: 25px 0 75px;

   .column {
      padding: 0;
   }
}

.eventFilterLead {
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   margin: 0 0 0.6rem;
   color: #4a4a4a;

   @include breakpoint(large) {
      font-size: rem-calc(20px);
      margin: 0 0 1rem;
   }
}

.upcomingEventsTitle {
   margin: 0 15px 1rem;
   border-bottom: 1px solid #979797;
   font-weight: 700;
   color: #545454;
   font-size: rem-calc(20px);
   padding: 0 0 0.4rem;

   @include breakpoint(large) {
      font-size: rem-calc(25px);
      margin-bottom: 2rem;
   }

   @include breakpoint(xlarge) {
      font-size: rem-calc(30px);
      margin-bottom: 3rem;
      @include flex-grid-column(10);
      @include grid-column-position(center);
   }
}

// EVENT BOXES
.eventBoxContainer {
   padding: 0 15px;
   margin-bottom: 3rem;

   @include breakpoint(medium) {
      @include flex-grid-row;
      @include flex-align(justify, top);
   }

   @include breakpoint(xlarge) {
      @include flex-grid-column(10);
      @include grid-column-position(center);
   }
}

a.eventBox {
   display: block;
   color: #808080;
   @include flex-grid-row;
   @include flex-align(justify, top);
   margin: 0 0 2rem;
   padding: 0;

   @include breakpoint(medium) {
      @include flex-grid-column('shrink', 0);
      min-width: 47%;
      line-height: 1.2;
   }

   @include breakpoint(large) {
      margin: 0 0 3rem;
   }

   &:hover {
      color: get-color(accent1);
   }
}

.eventBoxDate {
   color: #545454;
   font-weight: 700;
   text-align: center;
   @include flex-grid-column('shrink', 0);
   min-width: 65px;
   line-height: 1;
   text-transform: uppercase;
   padding: 6px 0 0;

   .eventBox:hover & {
      color: get-color(accent1);
   }
}

.eventBoxMonth {
   font-size: rem-calc(18px);

   @include breakpoint(large) {
      font-size: rem-calc(20px);
   }
}

.eventBoxDay {
   font-size: rem-calc(30px);

   @include breakpoint(large) {
      font-size: rem-calc(36px);
   }
}

.eventBoxContent {
   @include flex-grid-column('expand', 0);
   font-family: $body-font-family2;

   @include breakpoint(large) {
      padding: 0 0 0 25px;
   }
}

.eventBoxTitle {
   font-size: rem-calc(18px);
   font-weight: 700;

   @include breakpoint(large) {
      font-size: rem-calc(25px);
   }
}

.eventBoxLocation {
   font-size: rem-calc(18px);

   @include breakpoint(large) {
      font-size: rem-calc(25px);
   }
}

.eventBoxType {
   font-size: rem-calc(12px);

   @include breakpoint(large) {
      font-size: rem-calc(14px);
   }
}
