header {
	
	.headerInner {
		@include flex-align(right, top);

		&::before,
		&::after {
			display: none;
		}
	}
}

.logo {
	@include flex-grid-column(3);
	background: $primary-color;
	padding: 25px 7px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	max-width: 90px;

	@include breakpoint(medium) {
		max-width: 185px;
		padding: 15px 7px;
	}

	@include breakpoint(large) {
		position: fixed;
	}

	@include breakpoint(xlarge) {
		max-width: 225px;
	}

	img {
		width: 65px;
		height: auto;
		display: inline-block;
		transition: width 0.2s ease-out;

		@include breakpoint(large) {
			width: 90px;
		}

		@include breakpoint(xlarge) {
			width: 100px;
		}

		@include breakpoint(xxlarge) {
			width: 120px;
		}
	}

	&.shrunk img {

		@include breakpoint(large) {
			width: 50px;
		}
	}
}

// MENU TOGGLE
.menuToggle {
	background: $secondary-color;
	color: #fff;
	width: 65px;
	line-height: 65px;
	text-align: center;
	@include flex-grid-column('shrink');
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;

	@include breakpoint(large) {
		display: none;
	}

	&:hover {
		background: get-color(secondary-dark);
	}

	&::after {
		content: "\f039";
		font-family: FontAwesome;
		display: block;
		font-size: 25px;
	}
}
