$breakpoints: (
  small: 0,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1400px,
);

$foundation-palette: (
  primary: #C6093B,
  primary-dark: #A30630,
  secondary: #005C79,
  secondary-dark: #004358,
  accent1: #00A69D,
  accent1-dark: #00857e,
  success: #3adb76,
  warning: #ffae00,
  alert: #C6093B,
);

$button-color: #fff;
$button-color-alt: #fff;
$button-radius: 100px;
$button-padding: 0.85em 2em;

$table-border: 1px solid #979797;
$global-width: 992px;
$global-width: 1300px;

$body-font-family: 'Montserrat', sans-serif;
$body-font-family2: 'Roboto Slab', serif;

$paragraph-margin-bottom: 2rem;

$input-shadow: none;
$input-shadow-focus: none;

$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  )
);

$button-margin: 0;

$header-lineheight: 1.2
